@media screen and (min-width: 781px) {
    #containerAmora>amora-footer>#bloco04Amora {
        height: 30vw;
    }
    #containerAmora>amora-footer>#bloco04Amora {
        background-image: url("amora_bloco04.jpg");
        background-repeat: repeat;
        background-position: left top;
        background-size: cover;
    }
    #containerAmora>amora-footer>#bloco04Amora {
        color: #fff;
    }
    #containerAmora>amora-footer>#bloco04Amora h2 {
        font-size: 1.5vw;
        line-height: 4vw;
        border-bottom: .03vw solid #fff;
        color: #fff;
        text-align: left;
        margin-top: 1vw;
        margin-bottom: 2vw;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
    }
    #containerAmora>amora-footer>#bloco04Amora a {
        margin-top: -0.6vw;
        text-decoration: none;
        line-height: 0vw;
        font-size: 1.2vw;
    }
    #containerAmora>amora-footer>#bloco04Amora p {
        color: #fff;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2vw;
        line-height: 2vw;
    }
    #containerAmora>amora-footer>#bloco04Amora h3 {
        margin-top: 5vw;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8vw;
    }
    #containerAmora>amora-footer>#bloco04Amora .logoFooter {
        margin-top: 3vw;
        width: 5vw;
        height: 5vw;
        background-image: url("logo_amora_footer.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-color: transparent;
        background-size: contain;
    }
    #containerAmora>amora-footer>#bloco04Amora .redesRodape {
        margin-left: 30px;
        margin-top: -5px;
    }
    #containerAmora>amora-footer>#bloco04Amora a:hover {
        color: #90ff49;
    }
}

@media screen and (max-width: 780px) {
    #containerAmora>amora-footer>#bloco04Amora {
        height: 170.744vw;
    }
    #containerAmora>amora-footer>#bloco04Amora {
        background-image: url("amora_bloco04_mb.jpg");
        background-repeat: repeat;
        background-position: left top;
        background-size: cover;
    }
    #containerAmora>amora-footer>#bloco04Amora {
        color: #fff;
    }
    #containerAmora>amora-footer>#bloco04Amora h2 {
        font-size: 4vw;
        line-height: 8vw;
        border-bottom: .03vw solid #fff;
        color: #fff;
        text-align: left;
        margin-top: 9vw;
        margin-bottom: 4vw;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
    }
    #containerAmora>amora-footer>#bloco04Amora a {
        text-decoration: none;
        line-height: 0vw;
        font-size: 3.5vw;
    }
    #containerAmora>amora-footer>#bloco04Amora a:hover {
        color: #90ff49;
    }
    #containerAmora>amora-footer>#bloco04Amora .redesRodape {
        margin-left: 30px;
        margin-top: -5px;
    }
    #containerAmora>amora-footer>#bloco04Amora p {
        color: #fff;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 3.5vw;
        line-height: 5vw;
    }
    #containerAmora>amora-footer>#bloco04Amora h3 {
        margin-top: 5vw;
        font-family: 'Roboto', sans-serif;
        font-size: 1.8vw;
    }
    #containerAmora>amora-footer>#bloco04Amora .logoFooter {
        margin-top: 12vw;
        width: 17vw;
        height: 16vw;
        background-image: url("logo_amora_footer.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-color: transparent;
        background-size: contain;
    }
}